<footer id="footer" class="flex-align-center">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<div class="logos padding-top-xxs padding-bottom-xxs item-center-xs">
					<a href="" title="" target="_blank" rel="noopener">
						<img class="logo-salut" src="https://via.placeholder.com/60x30" alt="">
					</a>
					<a href="" title="" target="_blank" rel="noopener">
						<img class="padding-left-s logo-gencat" src="https://via.placeholder.com/60x30" alt="">
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-offset-4 col-sm-4">
				<div class="enlaces pull-right-sm-min padding-top-xxs padding-bottom-xxs item-center-xs">
					<div class="padding-left-xs margin-0">
						<a class="lms-footer-blanc" href="" title="">Enlace 1</a>
						<span class="separador">|</span>
						<a class="lms-footer-blanc" href="" title="">Enlace 2</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
