<div id="ofertas" class="container margin-bottom-xl">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center margin-bottom-l">¡Las mejores ofertas!</h3>
    </div>
    <div
      class="col-xs-12 col-sm-6 col-md-4 flex-justify-center margin-bottom-m"
      *ngFor="let oferta of ofertas"
    >
      <div class="oferta">
        <img
          src="{{ oferta.imagenRuta }}"
          alt="Lorem"
        />
        <h4 class="margin-top-s text-center">{{ oferta.nombre }}</h4>
        <p>
          {{ oferta.descripcion }}
        </p>
      </div>
    </div>
  </div>
</div>
