<div id="ofertas" class="container margin-bottom-xl">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center margin-bottom-l">¡Las mejores ofertas!</h3>
    </div>
    <div
      class="col-xs-12 col-sm-6 col-md-4 flex-justify-center margin-bottom-m"
    >
      <div class="oferta">
        <img src="https://source.unsplash.com/user/edufrojo/1600x904" alt="Lorem"/>
        <h4 class="margin-top-s text-center">Lorem Ipsum</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit et placeat tenetur expedita ipsam magnam a.</p>
      </div>
    </div>
    <div
      class="col-xs-12 col-sm-6 col-md-4 flex-justify-center margin-bottom-m"
    >
      <div class="oferta">
        <img src="https://source.unsplash.com/user/edufrojo/1600x905" alt="Lorem"/>
        <h4 class="margin-top-s text-center">Lorem Ipsum</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit et placeat tenetur expedita ipsam magnam a.</p>
      </div>
    </div>
    <div
      class="col-xs-12 col-sm-6 col-md-4 flex-justify-center margin-bottom-m"
    >
      <div class="oferta">
        <img src="https://source.unsplash.com/user/edufrojo/1600x906" alt="Lorem"/>
        <h4 class="margin-top-s text-center">Lorem Ipsum</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit et placeat tenetur expedita ipsam magnam a.</p>
      </div>
    </div>
    <div
      class="col-xs-12 col-sm-6 col-md-4 flex-justify-center margin-bottom-m"
    >
      <div class="oferta">
        <img src="https://source.unsplash.com/user/edufrojo/1600x907" alt="Lorem"/>
        <h4 class="margin-top-s text-center">Lorem Ipsum</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit et placeat tenetur expedita ipsam magnam a.</p>
      </div>
    </div>
    <div
      class="col-xs-12 col-sm-6 col-md-4 flex-justify-center margin-bottom-m"
    >
      <div class="oferta">
        <img src="https://source.unsplash.com/user/edufrojo/1600x908" alt="Lorem"/>
        <h4 class="margin-top-s text-center">Lorem Ipsum</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit et placeat tenetur expedita ipsam magnam a.</p>
      </div>
    </div>
    <div
      class="col-xs-12 col-sm-6 col-md-4 flex-justify-center margin-bottom-m"
    >
      <div class="oferta">
        <img src="https://source.unsplash.com/user/edufrojo/1600x909" alt="Lorem"/>
        <h4 class="margin-top-s text-center">Lorem Ipsum</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit et placeat tenetur expedita ipsam magnam a.</p>
      </div>
    </div>
  </div>
</div>
