<header id="header">

  <div class="hidden-xs logo-principal flex-align-center">
      <div class="container">
          <div class="row">
              <div class="col-xs-12">

                  <a href="${urlInicio}" title="${titleInicio}">
                      <img src="https://via.placeholder.com/60x30" alt="Salut">
                  </a>

              </div>
          </div>
      </div>
  </div>

  <div class="boton-menu flex-align-center-sm-min">
      <div class="container">
          <div class="row flex-align-center-sm-min">

              <div class="col-xs-10 col-sm-2 col-md-1 col-lg-1 padding-top-xs-xxs">
                  <span class="icono-menu padding-left-xs" (click)="openNav()">
                      <img src="./../../../assets/images/icons/menu.svg" alt="Menú">
                  </span>
                  <a href="${urlInicio}" title="${titleInicio}" class="padding-left-xs-s hidden-lg hidden-md hidden-sm">
                      <img class="logo-salut-mobile" src="https://via.placeholder.com/60x30" alt="Salut">
                  </a>
              </div>

          </div>
      </div>
  </div>

</header>
