<div id="navegacion">

  <div id="nav-menu">
    <div class="nav-header flex-align-center flex-justify-center">
      <a href="" alt="">
        <img class="nav-header-logo" src="https://via.placeholder.com/60x30" alt="La Meva Salut">
      </a>
    </div>
    <div class="nav-body padding-top-s padding-left-xxs padding-right-m">
      <ul>
        <li class="padding-left-xs"><a class="lms-menu-link" href="" title="">Enlace 1</a></li>
        <li class="padding-left-xs"><a class="lms-menu-link" href="" title="">Enlace 1</a></li>
      </ul>
    </div>
  </div>
  <div class="nav-close">
    <a href="javascript:void(0)" (click)="closeNav()">
      <img src="./../../../assets/images/icons/cerrar-blanco.svg" alt="Cerrar">
    </a>
  </div>

</div>
